
body {
  background-color: #222;


  main.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    div.left-profile {
      box-sizing: border-box;
      background-color: white;
      border-right: pink 10px solid;
      padding-left: 45px;
      margin-top: 80px;
      width: 300px;
      height: 500px;
      display: inline-block;
    } /* End of the left profile */
    div.right-profile {
      background-color: white;
      margin-top: 40px;
      width: 650px;
      height: 500px;
      float: right;
      display: inline-block;

      } /* End of right-profile */


  } /* End of the main container */

} /* End of the body tag */
